div.header {
    border-bottom: 3px solid #333333;
    background-color: #666666;
    color: #eeeeee;
    margin: 0em 0em 0em 0em;
    padding: 0.2em;
    font-size: 70%;
}

div.navtop {
    border-bottom: 1px dashed #333333;
    text-align: center;
}

div.navbottom {
    border-top: 1px dashed #333333;
    text-align: center;
    margin-top: 1em;
}

@media print {
    div.header {
        display: none;
    }
}

div.header a:link, div.header a:visited,
div.footer a:link, div.footer a:visited {
    color: #eeeeee;
    font-weight: bold;
    text-decoration: none;
}

div.header a:hover, div.footer a:hover {
    color: #eeeeee;
    font-weight: bold;
    text-decoration: underline;
}

div.footer {
    text-align: center;
    border-top: 3px solid #333333;
    background-color: #666666;
    color: #eeeeee;
    margin: 0em 0em 0em 0em;
    padding: 0em 0.2em;
    font-size: 70%;
}

@media print {
    div.footer {
        display: none;
    }
}

div.main {
    padding: 1em 40px;
    margin: 0em;
    background-color: #eeeeee;
    color: #333333;
}

body {
    background-color: #666666;
    color: #eeeeee;
    padding: 0em;
    margin: 0em;
    font-family: "Verdana", "Arial", "Helvetica", sans-serif;
}

div.footer * img {
    border-width: 0px;
}

th {
    font-weight: bold;
    text-align: left;
    padding: 0.3em;
}

th, td {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

div.main a:link, div.main a:visited {
    color: #000099;
    text-decoration: none;
}

div.main a[href]:hover {
    color: #000099;
    text-decoration: underline;
}

div.main pre a:link, div.main pre a:visited {
    color: #fff0e0;
    text-decoration: none;
}

div.main pre a[href]:hover {
    color: #fff0e0;
    text-decoration: underline;
}

code, tt {
    color: #993333;
}

div.main p, div.main dd {
    text-align: justify;
}

pre {
    background-color: #1e1e27;
    color: #cfbfad;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

div.main h1 {
    text-align: center;
}

div.main h2 {
    text-align: left;
    border-bottom: 1px dashed #333333;
    margin-left: -30px;
}

div.main h3 {
    text-align: left;
    margin-left: -30px;
}

dt {
    font-weight: bold;
}

dd p.first {
    margin-top: 0.2em;
}

dd p.last {
    margin-bottom: 0.2em;
}

div.figure, div.figure p {
    text-align: center;
    font-weight: bold;
}

code, pre, tt {
    font-family: monospace;
    tab-size: 4;
    -o-tab-size: 4;
    -moz-tab-size: 4;
}

blockquote.epigraph p {
    font-size: 80%;
    font-style: italic;
}

blockquote.epigraph p.attribution {
    font-style: normal;
}

td.devbook {
    vertical-align: top;
}

pre span.Special { color: magenta; }
pre span.Identifier { color: blue; }
pre span.Type { color: blue; }
pre span.PreProc { color: magenta; }
pre span.Constant { color: black; }
pre span.Comment { color: red; }
pre span.Statement { color: darkred; }

/* vim: set ts=4 tw=80 et : */
