body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #454545;
    background-color: #fafafa;
    padding: 0 10px;
}

header, footer {
    padding: 0.75em 1em;
    margin: 0;
    background-color: #e1e1e1;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

nav.offline ul, .breadcrumb {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav.offline li, .breadcrumb li {
    display: inline;
}

nav.offline li+li {
    margin-left: 1em;
}

.breadcrumb li+li:before {
    content: " / ";
}

.fa-arrow-left:after {
    content: "\25c4"; /* BLACK LEFT-POINTING POINTER */
}

.fa-arrow-right:after {
    content: "\25ba"; /* BLACK RIGHT-POINTING POINTER */
}
