/**
 * Toffanin Mauro - toffanin.mauro@gmail.com
 * v0.1 - 07.01.2009
 */

/**
 * COLORS TABLE:
 * white background: #F9F9F9;
 * black foreground: #1A1A1A;
 * blue: #0F83DB;
 */

/** General HTML Elements **/
body {
	background-color:#F9F9F9;
	color:#1A1A1A;
	max-width:730px;
	margin:auto;
	margin-top:40px;
	margin-bottom:40px;
/*	border:1px solid red;*/
}
hr {
	margin:0;
	padding:0;
	border:0;
	border-bottom:4px solid #1A1A1A;
}
p {
	text-align:justify;
	text-indent:30px;
}
a {
	/* Resetting borders from the DocBook template */
	text-decoration:none;
	border:0;
	border-bottom:1px dotted #0F83DB;
	color:#0F83DB;
}

/** General HTML Classes **/
.legalnotice {
	border-top:1px solid #1A1A1A;
	border-bottom:1px solid #1A1A1A;
}
.chapter {
}
.section {
}
div.toc > dl > dd {
	margin-bottom:10px;
}
div.toc > p {
	text-indent:0px;
}
div.chapter > div.toc {
	border:2px solid #1A1A1A;
	padding:10px;
	padding-left:30px; /* same as the <p> indentation */

	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-khtml-border-radius:8px;
	border-radius:8px; /* leave this CSS tag always as last */
}
div.chapter > div.toc > dl > dt > span.section {
/*	margin-left:20px; /* same as the <p> indentation */
/*	border:1px solid red;*/
}
.programlisting {
	background-color:#F8F8F8;
	border:2px solid #1A1A1A;
	border-left:16px solid #1A1A1A;
	padding:5px;

        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        -khtml-border-radius:8px;
        border-radius:8px; /* leave this CSS tag always as last */
}
.programlisting > a {
	color:#333333;
}
.navheader {
	height:60px;
/*	border:1px solid red;*/
}
h2.title {
	border-bottom:2px solid #1A1A1A;
}
